
@media(max-width: 900px){
    aside{
        width: 40%;
    }
}
@media(max-width: 800px){
    aside{
        width: 50%;
    }
}
@media(max-width: 700px){
    aside{
        width: 60%;
    }
}
@media(max-width: 600px){
    aside{
        width: 70%;
    }
}
@media(max-width: 500px){
    aside{
        width: 75%;
    }
}
@media(max-width: 400px){
    aside{
        width: 80%;
    }
}
@media(max-width: 300px){
    aside{
        width: 85%;
    }
}
@media(max-width: 250px){
    aside{
        width: 90%;
    }
}
